<form class="form-signin" #myForm="ngForm"
      (ngSubmit)="saveData(myForm)" novalidate>
  {{ classForm | json }}
  {{ myForm.value | json }}
  <div>
      <label class="sr-only">Email address</label>
      <input type="email" name="email" class="form-control"
             maxlength="10"
             required
             [ngModel]="classForm.email">
    <label class="sr-only">Password</label>
    <input type="password" name="password" class="form-control"
           #password="ngModel"
           required [ngModel]="classForm.password">
    <p *ngIf="password?.errors?.required">Password is required</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="remember" value="remember-me" ngModel> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block"
          [disabled]="!myForm.valid"
          type="submit">Sign in</button>
</form>
