<nav class="navbar navbar-light bg-faded rounded">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/main/groups">Groups</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/main/students">Students</a>
    </li>
  </ul>
  <button *ngIf="!(isLoggedIn | async)" (click)="login(true)">Login</button>
  <button *ngIf="isLoggedIn | async" (click)="login(false)">Logout</button>
</nav>
