<nav class="navbar navbar-light bg-faded rounded">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" [ngClass]="{'active': currentRoute === 'my_groups'}">
      <a class="nav-link" (click)="changeRoute('my_groups')">Groups</a>
    </li>
    <li class="nav-item" [ngClass]="{'active': currentRoute === 'my_students'}">
      <a class="nav-link" (click)="changeRoute('my_students')">Students</a>
    </li>
  </ul>
  <button *ngIf="!(isLoggedIn | async)" (click)="login(true)">Login</button>
  <button *ngIf="isLoggedIn | async" (click)="login(false)">Logout</button>
</nav>
